
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: khaki;
    padding: 30px;
}

.item a{
    color:darkcyan;
    text-decoration: none;

}

.item a:active:hover{
    color: white;
}